<h2><%= @user.name %> has send you a request to activate his/her account.</h2>
<p>You can activate the account in your team management panel. Just log in to your account: <%= link_to login_url(host: 'localhost:3000'), login_url(host: 'localhost:3000') %></p>
<p>Ignore this message if you do not want to activate the account or the message is invalid.</p>
<p>Kind regards,</p>
<p>The MySlack team</p>