<h2><%= @user.name %>, your account is active again.</h2>
<p>Just log in to your account: <%= link_to login_url(host: 'localhost:3000'), login_url(host: 'localhost:3000') %></p>
<p>Enjoy.</p>
<p>Kind regards,</p>
<p>The MySlack team</p>