<h2>Welcome to the MySlack communicator <%= @user.name %>.</h2>
<p>We appreciate that you have choosed MySlack for working with your team.</p>
<p>We wish you and your team a perfect collaboration</p>
<p>Kind regards,</p>
<p>The MySlack team</p>